name: Main workflow
on:
  pull_request_review
jobs:
  Build:
    runs-on: ubuntu-24.04
    if: github.event.review.state == 'approved'
    steps:
      - name: Clone the repository
        uses: actions/checkout@v6.0.1
      - name: Use docker build
        uses: docker/build-push-action@v3.0.0

  Deploy:
    name: Deploy to remote server
    needs: Build
    runs-on: ubuntu-24.04
    steps:
      - name: Deploy to remote server
        run: echo "Deploying..."